<!-- code-campus-course.component.html -->
<div class="course-container" data-aos="fade-up">
  <h2>Vetrina Accademica</h2>
  <div class="course" *ngFor="let course of courses; let i = index"
   [attr.data-aos]="i % 2 === 0 ? 'fade-right' : 'fade-left'">
   <!-- [attr.data-aos-delay]="i * 100"
   [attr.data-aos-offset]="200" -->
    <div class="course-image">
      <img [src]="course.imageUrl" alt="{{ course.name }}">
    </div>
    <div class="course-info">
      <h3>{{ course.name }}</h3>
      <p>{{ course.description }}</p>
    </div>
  </div>
</div>

