<!-- Inizio della barra di navigazione -->
<nav class="navbar navbar-expand-lg  sticky-top">

  <!-- Link al logo del sito -->
  <a class="navbar-brand" routerLink="/">
      <img src="../../../assets/logo.png" alt="logo" width="100" height="100">

  </a>
  <!-- Pulsante per il menu di navigazione su schermi piccoli -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Contenitore per gli elementi del menu di navigazione -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Lista dei link del menu di navigazione -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
 <!-- Link alla lista dei corsi -->
 <li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Corsi
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <ng-container *ngFor="let course of courses">
      <li class="dropdown-item dropdown-submenu">
        <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{ course.category }}</a>
        <ul class="dropdown-menu">
          <li *ngFor="let language of course.languages" class="dropdown-item">{{ language }}</li>
        </ul>
      </li>
    </ng-container>
  </ul>
</li>

            <!-- Link alle recensioni-->
            <li class="nav-item">
              <a class="nav-link" routerLink="/course-list">About</a>
          </li>


          <!-- Link al checkout -->
          <li class="nav-item">

          </li>
          <!-- Form di ricerca -->
          <li class="nav-item">
              <form class="d-flex">
                  <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline" type="submit"><i class="bi bi-search"></i></button>
              </form>
          </li>
      </ul>
      <!-- Lista dei link del menu di navigazione a destra -->
      <ul class="navbar-nav">
        <!-- Link alla dashboard admin -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin-dashboard">Admin Dashboard</a>
      </li>
          <!-- Link alla pagina di login/registrazione -->
          <li class="nav-item">
              <a class="nav-link" routerLink="/login-signup">Login/Signup</a>
          </li>
          <!-- Link al profilo utente -->
          <li class="nav-item">
              <a class="nav-link" routerLink="/user-profile">User Profile</a>
          </li>


          <!-- Link al carrello -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/cart">
              <p><i class="bi bi-cart-plus"></i></p>
              </a>
          </li>


      </ul>


  </div>
</nav>
<!-- Fine della barra di navigazione -->
