// src/styles/_variables.scss

// Colori
$primary-color: #007bff;
$secondary-color: #6c757d;
$success-color: #28a745;

$primary-background: linear-gradient(135deg, #a95bbe 0%, #8741a8 25%, #2f136c 50%, #1c1156 75%, #471e8b 100%);

// Font
$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-size: 2rem;
