<!-- app/homepage/homepage.component.html -->

<div class="content">
  <p class="intro">
    Benvenuti a <strong> CodeCampus </strong>- La Tua Meta per l'Eccellenza Informatica
  </p>

  Nel mare vasto dell'innovazione tecnologica, <strong>CodeCampus</strong>
  emerge come il faro per chiunque ambisca a dominare le onde digitali.
  Il nostro e-commerce non è semplicemente una piattaforma, è una porta d'accesso
  verso un futuro dove la competenza informatica è il tuo passaporto per il successo.

 <h5> Esplora. Impara. Eccelli.</h5>
  Con una libreria di corsi che spazia dai fondamenti della programmazione
   a linguaggi specifici come Python, Java e C++, fino alle discipline all'avanguardia
   come l'intelligenza artificiale e lo sviluppo di app mobili, <strong>CodeCampus</strong>
    offre un'educazione su misura per ogni aspirante programmatore, sviluppatore o data scientist.

  <h5>Qualità Insegnata dai Migliori</h5>
  I nostri istruttori sono pionieri, professionisti attivi che respirano codice e vivono di
  innovazione. Con corsi progettati per farti apprendere non solo la teoria, ma le competenze
  pratiche, ti garantiamo che ogni lezione ti porterà un passo più vicino al tuo obiettivo
  professionale.

  <h5>Impara al Tuo Ritmo</h5>
  La vita è imprevedibile, ma l'apprendimento no. Che tu sia un guerriero del weekend,
  un nottambulo o un alzatore all'alba, i nostri corsi sono disponibili 24/7, permettendoti
   di apprendere quando e dove vuoi.

  <h5> Una Community di Supporto</h5>
  L'apprendimento è un viaggio, e ogni viaggio è più ricco quando è condiviso.
  Unisciti alla nostra community: condividi dubbi, soluzioni e ispirazioni con studenti e
  professionisti. Perché insieme, cresciamo più forti.

  <h5>Impegnati per il Tuo Futuro</h5>
  In <strong>CodeCampus</strong> crediamo nell'investire nel tuo futuro. Con corsi
  aggiornati costantemente per riflettere le ultime tendenze e tecnologie, la tua educazione
  è sempre all'avanguardia. Scegli il corso che risveglia la tua curiosità e inizia il tuo viaggio
  verso il dominio digitale oggi stesso.
  <p class="call-to-action">
    Cosa Stai Aspettando? Naviga tra i nostri corsi e trova il tuo punto di partenza. Che tu
    voglia imparare a creare il tuo primo sito web o sviluppare sistemi complessi di machine
    learning, la tua avventura verso il vertice della tecnologia inizia qui, con noi, su CodeCampus.
  </p>
</div>

<app-blog-news></app-blog-news>
<app-course-list></app-course-list>
<app-cosa-imparerai></app-cosa-imparerai>



